In [14]:
##Series
import pandas as pd
x=[1,2,3,4,5]
var=pd.Series(x)
print(var,"\n\n")
print(type(var))
print(var[2],"\n\n")
var =pd.Series(x,index=["a",'b','c','d','e'])
print(var,"\n\n")

h={
    "Name":["hasan","Rafi","Zidan"],
    "CGPA":["3.21","2.97","2.21"],
    "Rofs":["90","80","60"]
    
}
ser=pd.Series(h)
ser

n=pd.Series(13,index=[0,1,2,3,4,5],dtype="float", name="Hasan")
n

0    1
1    2
2    3
3    4
4    5
dtype: int64


<class 'pandas.core.series.Series'>
3


a    1
b    2
c    3
d    4
e    5
dtype: int64

0    13.0
1    13.0
2    13.0
3    13.0
4    13.0
5    13.0
Name: Hasan, dtype: float64

In [36]:
h={
    "Name":["hasan","Rafi","Zidan"],
    "CGPA":["3.21","2.97","2.21"],
    "Rofs":["90","80","60"]
    
}
df=pd.DataFrame(h)
print(df)
print(type(df),"\n\n")
print(pd.DataFrame(h,columns=["Rofs"],index=["a","b","c"]),"\n\n")
print(df["Name"][1],df["CGPA"][1],df["Rofs"][1],sep="=")

    Name  CGPA Rofs
0  hasan  3.21   90
1   Rafi  2.97   80
2  Zidan  2.21   60
<class 'pandas.core.frame.DataFrame'>


  Rofs
a   90
b   80
c   60


Rafi=2.97=80

In [12]:
print(n)

    Name  CGPA Rofs
0  hasan  3.21   90
1   Rafi  2.97   80
2  Zidan  2.21   60

In [13]:
n.to_csv("f.csv")

In [15]:
k=pd.read_csv('book.csv')
k

  hasan  rafi
0  1\t2     2
1  7\t8     5
2  2\t6     9